<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/project.css')}}" />

    <title>My Project</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
      <div class="container">
        <button type="button" class="btn btn-dark btn-sm">
          <a class="navbar-brand" href="/home"> <img src="{{url_for('static', filename='icons/back-icon.svg')}}" alt="" width="30" height="25" class="d-inline-block align-text-top" />Kembali</a>
        </button>
      </div>
    </nav>

    <section class="jumbotron text-center">
      <!-- <img src="{{url_for('static', filename='image/profile.jpeg')}}" alt="" width="200" class="rounded-circle img-thumbnail" /><br /><br /> -->
      <h1 class="display-5 fs-1 fw-bold text-dark">Project</h1>
      <p class="lead">Ario Bimo Munfadhil | Student</p>
      <!-- <h1 class="display-5">Ario Bimo Munfadhil</h1> -->
      <!-- <p class="lead">Skill</p> -->

      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,256L360,160L720,160L1080,224L1440,128L1440,320L1080,320L720,320L360,320L0,320Z"></path></svg> -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,96L21.8,85.3C43.6,75,87,53,131,90.7C174.5,128,218,224,262,245.3C305.5,267,349,213,393,186.7C436.4,160,480,160,524,176C567.3,192,611,224,655,202.7C698.2,181,742,107,785,112C829.1,117,873,203,916,240C960,277,1004,267,1047,256C1090.9,245,1135,235,1178,208C1221.8,181,1265,139,1309,133.3C1352.7,128,1396,160,1418,176L1440,192L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"
        ></path>
      </svg>
    </section>

    <!-- Project -->
    <section id="projects">
      <div class="container">
        <div class="row text-center mb-4">
          <div class="col">
            <h2>My Projects</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-3">
            <div class="card">
                <img src="{{url_for('static', filename='image/project/11.png')}}" class="card-img-top" alt="project1" />
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, excepturi.</p>
                <a href="#" class="btn btn-dark">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="{{url_for('static', filename='image/project/2.png')}}" class="card-img-top" alt="project2" />
              <div class="card-body">
                <p class="card-text mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, excepturi.</p>
                <a href="#" class="btn btn-dark">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="{{url_for('static', filename='image/project/3.png')}}" class="card-img-top" alt="project3" />
              <div class="card-body">
                <p class="card-text mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, excepturi.</p>
                <a href="#" class="btn btn-dark">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="{{url_for('static', filename='image/project/4.png')}}" class="card-img-top" alt="project4" /></a>
              <div class="card-body">
                <p class="card-text mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, excepturi.</p>
                <a href="#" class="btn btn-dark">Go</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="{{url_for('static', filename='image/project/5.png')}}" class="card-img-top" alt="project5" /></a>
              <div class="card-body">
                <p class="card-text mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, excepturi.</p>
                <br />
                <a href="#" class="btn btn-dark">Go</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="{{url_for('static', filename='image/project/6.png')}}" class="card-img-top" alt="project6" />
              <div class="card-body">
                <p class="card-text mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, excepturi.</p>
                <a href="https://github.com/ariobimox/Suit-Python" class="btn btn-dark">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#212529"
          fill-opacity="1"
          d="M0,288L21.8,282.7C43.6,277,87,267,131,234.7C174.5,203,218,149,262,149.3C305.5,149,349,203,393,229.3C436.4,256,480,256,524,240C567.3,224,611,192,655,160C698.2,128,742,96,785,106.7C829.1,117,873,171,916,197.3C960,224,1004,224,1047,234.7C1090.9,245,1135,267,1178,245.3C1221.8,224,1265,160,1309,154.7C1352.7,149,1396,203,1418,229.3L1440,256L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"
        ></path>
      </svg>
    </section>  

    <!-- footer -->
    <footer class="bg-dark text-white text-center p-3">
      <div class="socialIcons">
        <ul>
          <li class="facebook">
            <a href=""><i class="fa fa-fw fa-facebook"></i>Facebook</a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/xlnx089"><i class="fa fa-fw fa-twitter"></i>Twitter</a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/xlnx089/"><i class="fa fa-fw fa-instagram"></i>Instagram</a>
          </li>
          <li class="youtube">
            <a href="https://www.youtube.com/channel/UCqvV3y8bqNHdGL1LX9F2x0w"><i class="fa fa-fw fa-youtube"></i>Youtube</a>
          </li>
          <li class="github">
            <a href="https://www.github.com/ariobimox/"><i class="fa fa-fw fa-github"></i>Github</a>
          </li>
        </ul>
        <p class="text-center" style="padding-left: 25px">Copyright © 2021 Ario Bimo. All Rights Reserved</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
